.parallax.parallax-enabled {
    background-attachment: fixed !important;
}


.parallax {
    background-image: url(../img/cover3.png);
    background-position: 49% 0px;
    min-height: 700px;
    color: #fff;
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: 50% 0;
    -webkit-background-size: cover;
    background-size: cover;
}

.parallax-overlay {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-attachment: scroll;
    background-repeat: repeat;
    background-position: 0 0;
}

.parallax-content-inner {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    margin-top: -65px;
    z-index: 3;
}

.parallax-content-inner.row{

    position: relative;
    width: 940px;
    margin: 0 auto;
}
